@import "../../styles/colors";
@import "../../styles/titles";
@import "../../styles/buttons";
@import "../../styles/inputs";

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  .Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(
      to bottom right,
      $honey-yellow-100,
      $honey-yellow-400
    );

    width: 50%;
    height: 100%;
    border-radius: 15px;
    min-width: 500px;

    > img {
      width: 200px;
    }

    > .Title {
      @include title1;
      padding: 5px;
    }

    > a {
      color: $honey-yellow-500;
      padding-top: 20px;
      transition: color 0.3s;

      &:hover {
        color: darken($honey-yellow-500, 10%);
      }
    }

    > form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      > label {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: $honey-yellow-500;

        input {
          @include input1;
        }

        span {
          color: $red;
          font-size: 1rem;
        }
      }

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        button {
          @include button1;
        }
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    > .Card {
      > img {
        width: 150px;
      }

      > form {
        > label {
          font-size: 1rem;

          > span {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  @media (max-width: $breakpoint-xs) {
    > .Card {
      min-width: 380px;

      > img {
        width: 120px;
      }
    }
  }

  @media (max-width: $breakpoint-xxs) {
    > .Card {
      min-width: 300px;

      > img {
        width: 120px;
      }

      > p {
        font-size: 0.8rem;
        padding: 0;
      }

      > a {
        font-size: 0.9rem;
      }

      > form {
        > label {
          font-size: 0.9rem;

          span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.ToastContainer {
  width: 500px;

  @media (max-width: $breakpoint-xs) {
    margin: 10px auto;
    width: 300px;
  }
}

.SnackbarContainer {
  padding: 20px;
  line-height: 1.2;
  border-radius: 15px;
  background-color: $honey-yellow-500;
  font-size: 1.1rem;
  color: $white;
}

.SnackbarProgress {
  background-color: $honey-yellow-500;
}
